@model EasyAppointments.Services.DTOs.DoctorDTOs.DoctorDto
<ul class="nav header-navbar-rht">

	<li class="nav-item dropdown noti-nav view-cart-header me-3">
		<a href="#" class="dropdown-toggle nav-link p-0 position-relative" data-bs-toggle="dropdown">
			<i class="fa-solid fa-cart-shopping"></i> <small class="unread-msg1">7</small>
		</a>
		<div class="dropdown-menu notifications dropdown-menu-end">
			<div class="shopping-cart">
				<ul class="shopping-cart-items list-unstyled">
					<li class="clearfix">
						<div class="close-icon"><i class="fa-solid fa-circle-xmark"></i></div>
						<a href="product-description.html"><img class="avatar-img rounded" src="/Assets/UserAssets/img/products/product.jpg" alt="User Image"></a>
						<a href="product-description.html" class="item-name">Benzaxapine Croplex</a>
						<span class="item-price">$849.99</span>
						<span class="item-quantity">Quantity: 01</span>
					</li>
					<li class="clearfix">
						<div class="close-icon"><i class="fa-solid fa-circle-xmark"></i></div>
						<a href="product-description.html"><img class="avatar-img rounded" src="/Assets/UserAssets/img/products/product1.jpg" alt="User Image"></a>
						<a href="product-description.html" class="item-name">Ombinazol Bonibamol</a>
						<span class="item-price">$1,249.99</span>
						<span class="item-quantity">Quantity: 01</span>
					</li>
					<li class="clearfix">
						<div class="close-icon"><i class="fa-solid fa-circle-xmark"></i></div>
						<a href="product-description.html"><img class="avatar-img rounded" src="/Assets/UserAssets/img/products/product2.jpg" alt="User Image"></a>
						<a href="product-description.html" class="item-name">Dantotate Dantodazole</a>
						<span class="item-price">$129.99</span>
						<span class="item-quantity">Quantity: 01</span>
					</li>
				</ul>
				<div class="booking-summary pt-3">
					<div class="booking-item-wrap">
						<ul class="booking-date">
							<li>Subtotal <span>$5,877.00</span></li>
							<li>Shipping <span>$25.00</span></li>
							<li>Tax <span>$0.00</span></li>
							<li>Total <span>$5.2555</span></li>
						</ul>
						<div class="booking-total">
							<ul class="booking-total-list text-align">
								<li>
									<div class="clinic-booking pt-3">
										<a class="apt-btn" href="cart.html">View Cart</a>
									</div>
								</li>
								<li>
									<div class="clinic-booking pt-3">
										<a class="apt-btn" href="product-checkout.html">Checkout</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>


	<li class="nav-item dropdown noti-nav me-3 pe-0">
		<a href="#" class="dropdown-toggle nav-link p-0" data-bs-toggle="dropdown">
			<i class="fa-solid fa-bell"></i> <span class="badge">5</span>
		</a>
		<div class="dropdown-menu notifications dropdown-menu-end ">
			<div class="topnav-dropdown-header">
				<span class="notification-title">Notifications</span>
			</div>
			<div class="noti-content">
				<ul class="notification-list">
					<li class="notification-message">
						<a href="#">
							<div class="notify-block d-flex">
								<span class="avatar">
									<img class="avatar-img" alt="Ruby perin" src="/Assets/UserAssets/img/clients/client-01.jpg">
								</span>
								<div class="media-body">
									<h6>Travis Tremble <span class="notification-time">18.30 PM</span></h6>
									<p class="noti-details">Sent a amount of $210 for his Appointment <span class="noti-title">Dr.Ruby perin </span></p>
								</div>
							</div>
						</a>
					</li>
					<li class="notification-message">
						<a href="#">
							<div class="notify-block d-flex">
								<span class="avatar">
									<img class="avatar-img" alt="Hendry Watt" src="/Assets/UserAssets/img/clients/client-02.jpg">
								</span>
								<div class="media-body">
									<h6>Travis Tremble <span class="notification-time">12 Min Ago</span></h6>
									<p class="noti-details"> has booked her appointment to <span class="noti-title">Dr. Hendry Watt</span></p>
								</div>
							</div>
						</a>
					</li>
					<li class="notification-message">
						<a href="#">
							<div class="notify-block d-flex">
								<div class="avatar">
									<img class="avatar-img" alt="Maria Dyen" src="/Assets/UserAssets/img/clients/client-03.jpg">
								</div>
								<div class="media-body">
									<h6>Travis Tremble <span class="notification-time">6 Min Ago</span></h6>
									<p class="noti-details"> Sent a amount $210 for his Appointment <span class="noti-title">Dr.Maria Dyen</span></p>
								</div>
							</div>
						</a>
					</li>
					<li class="notification-message">
						<a href="#">
							<div class="notify-block d-flex">
								<div class="avatar avatar-sm">
									<img class="avatar-img" alt="client-image" src="/Assets/UserAssets/img/clients/client-04.jpg">
								</div>
								<div class="media-body">
									<h6>Travis Tremble <span class="notification-time">8.30 AM</span></h6>
									<p class="noti-details"> Send a message to his doctor</p>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</li>


	<li class="nav-item dropdown has-arrow logged-item">
		<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
			<span class="user-img">
				<img class="rounded-circle" src="data:image/*;base64,@Convert.ToBase64String(Model.Image)" width="31" alt="@Model.FirstName">
			</span>
		</a>
		<div class="dropdown-menu dropdown-menu-end">
			<div class="user-header">
				<div class="avatar avatar-sm">
					<img src="data:image/*;base64,@Convert.ToBase64String(Model.Image)" alt="User Image" class="avatar-img rounded-circle">
				</div>
				<div class="user-text">
					<h6>@Model.FirstName @Model.LastName</h6>
					@if (Model.ActiveStatus == 0)
					{
						<p class="text-success mb-0">Available</p>
					}
					else
					{
						<p class="text-success mb-0">Not Available</p>
					}
				</div>
			</div>
			<a class="dropdown-item" href="@Url.Action("Dashboard","DoctorDashboard",new{area="Doctor" ,title="Dashboard" })">Dashboard</a>
			<a class="dropdown-item" href="@Url.Action("DoctorProfileSetting","DoctorDashboard",new{area="Doctor",title="Profile"})">Profile Settings</a>
			<a class="dropdown-item" href="@Url.Action("Login","DoctorAuthentication",new{area="Doctor"})">Logout</a>
		</div>
	</li>

</ul>