@model EasyAppointments.Services.DTOs.PatientDTOs.AppointmentDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Patients/Views/Shared/_PatientLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="account-content">
                <h2>Appointment Booking</h2>
                <p>Please book your prefered Doctor.</p><br />
                <div class="col-lg-12" id="mainDiv">
                    <form id="FrmAppointment" method="post">
                        @Html.HiddenFor(a => a.Id)
                        @Html.HiddenFor(a => a.PatientId)
                        @Html.HiddenFor(a => a.DoctorId)
                        <div class="form-group">
                            @Html.LabelFor(a => a.PatientName)
                            @Html.TextBoxFor(a => a.PatientName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.PatientName, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(a => a.DocotorName)
                            @Html.TextBoxFor(a => a.DocotorName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.DocotorName, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(a => a.Date)
                            @Html.TextBoxFor(a => a.Date, new { @class = "form-control", Type = "Date" })
                            @Html.ValidationMessageFor(a => a.Date, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(a => a.Time)
                            @Html.TextBoxFor(a => a.Time, new { @class = "form-control", Type = "Time" })
                            @Html.ValidationMessageFor(a => a.Time, "", new { @style = "color:red" })
                        </div>
                        <div class="text-end">
                            <a class="forgot-link" href="login.html">Already have an account?</a>
                        </div>
                        <div style="display:flex">
                            <button class="btn btn-primary w-50" type="button" onclick="showConfirmationDialog('Submittion',0)" style="margin-right:5px">Signup</button>
                            <button class="btn btn-secondary w-50" type="reset">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @section LoadFiles {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js" integrity="sha512-8QFTrG0oeOiyWo/VM9Y8kgxdlCryqhIxVeRpWSezdRRAvarxVtwLnGroJgnVW9/XBRduxO/z1GblzPrMQoeuew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
        @* <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>

            function showConfirmationDialog(action, Id) {
                Swal.fire({
                    title: `Confirmation`,
                    text: 'Are you sure?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, proceed!',
                    cancelButtonText: 'Cancel'
                }).then((result) => {
                    if (result.isConfirmed) {
                        if (action === 'Submittion') {
                            saveAppointment();
                        } else if (action === 'Deletion') {
                            deleteSpeciality(Id);
                        }
                    }
                });
            }
            function saveAppointment(){
                debugger;
                if($("#FrmAppointment").valid()){
                var frmData = new FormData(document.getElementById('FrmAppointment'));
                $.ajax({
                type: 'post',
                url: '/Patients/Appointment/Save',
                processData: false,
                contentType: false,
                data: frmData,
                success: function (result) {
                    debugger;
                    if (result == true) {
                        Swal.fire(
                            'Success!',
                            `Operation successfull.`,
                            'success'
                        );
                    }
                   else{
                       Swal.fire(
                            'Error!',
                            `Error Submitting Form.`,
                            'Error'
                       );
                   }
                }
            });
                }
            }
        </script>
    }
</div>

