<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from doccure.dreamstechnologies.com/html/template/admin/form-validation.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2024 03:38:29 GMT -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="keywords" content="practo clone, doccure, doctor appointment, Practo clone html template, doctor booking template">
	<meta name="author" content="Practo Clone HTML Template - Doctor Booking Template">
	<meta property="og:url" content="../../index.html">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Doctors Appointment HTML Website Templates | Doccure">
	<meta property="og:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta property="og:image" content="/Assets/AdminAssets/img/preview-banner.html">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="../../index.html">
	<meta property="twitter:url" content="../../index.html">
	<meta name="twitter:title" content="Doctors Appointment HTML Website Templates | Doccure">
	<meta name="twitter:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="twitter:image" content="/Assets/AdminAssets/img/preview-banner.html">
	<title>EasyAppointments</title>

	<link rel="shortcut icon" type="image/x-icon" href="/Assets/AdminAssets/img/favicon.png">

	<link rel="stylesheet" href="/Assets/AdminAssets/css/bootstrap.min.css">

	<link rel="stylesheet" href="/Assets/AdminAssets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/Assets/AdminAssets/plugins/fontawesome/css/all.min.css">

	<link rel="stylesheet" href="/Assets/AdminAssets/css/feathericon.min.css">

	<link rel="stylesheet" href="/Assets/AdminAssets/css/custom.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha512-EZSUkJWTjzDlspOoPSpUFR0o0Xy7jdzW//6qhUkoZ9c4StFkVsp9fbbd0O06p9ELS3H486m4wmrCELjza4JEog==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>

	<div class="main-wrapper">

		<div class="header">

			<div class="header-left">
				<a href="index.html" class="logo">
					<img src="/Assets/AdminAssets/img/Easy Appointment Logo-01.png" alt="Logo">
				</a>
				<a href="index.html" class="logo logo-small">
					<img src="/Assets/AdminAssets/img/logo-small.png" alt="Logo" width="30" height="30">
				</a>
			</div>

			<a href="javascript:void(0);" id="toggle_btn">
				<i class="fe fe-text-align-left"></i>
			</a>
			<div class="top-nav-search">
				<form>
					<input type="text" class="form-control" placeholder="Search here">
					<button class="btn" type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>

			<a class="mobile_btn" id="mobile_btn">
				<i class="fa fa-bars"></i>
			</a>


			<ul class="nav user-menu">

				<li class="nav-item dropdown noti-dropdown">
					<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
						<i class="fe fe-bell"></i> <span class="badge rounded-pill">3</span>
					</a>
					<div class="dropdown-menu notifications">
						<div class="topnav-dropdown-header">
							<span class="notification-title">Notifications</span>
							<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
						</div>
						<div class="noti-content">
							<ul class="notification-list">
								<li class="notification-message">
									<a href="#">
										<div class="notify-block d-flex">
											<span class="avatar avatar-sm flex-shrink-0">
												<img class="avatar-img rounded-circle" alt="User Image" src="/Assets/AdminAssets/img/doctors/doctor-thumb-01.jpg">
											</span>
											<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">Dr. Ruby Perrin</span> Schedule <span class="noti-title">her appointment</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="notify-block d-flex">
											<span class="avatar avatar-sm flex-shrink-0">
												<img class="avatar-img rounded-circle" alt="User Image" src="/Assets/AdminAssets/img/patients/patient1.jpg">
											</span>
											<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="notify-block d-flex">
											<span class="avatar avatar-sm flex-shrink-0">
												<img class="avatar-img rounded-circle" alt="User Image" src="/Assets/AdminAssets/img/patients/patient2.jpg">
											</span>
											<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a amount of $210 for his <span class="noti-title">appointment</span></p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="notify-block d-flex">
											<span class="avatar avatar-sm flex-shrink-0">
												<img class="avatar-img rounded-circle" alt="User Image" src="/Assets/AdminAssets/img/patients/patient3.jpg">
											</span>
											<div class="media-body flex-grow-1">
												<p class="noti-details"><span class="noti-title">Carl Kelly</span> send a message <span class="noti-title"> to his doctor</span></p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="topnav-dropdown-footer">
							<a href="#">View all Notifications</a>
						</div>
					</div>
				</li>


				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
						<span class="user-img"><img class="rounded-circle" src="/Assets/AdminAssets/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor"></span>
					</a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="avatar avatar-sm">
								<img src="/Assets/AdminAssets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
							</div>
							<div class="user-text">
								<h6>Ryan Taylor</h6>
								<p class="text-muted mb-0">Administrator</p>
							</div>
						</div>
						<a class="dropdown-item" href="profile.html"><label onclick="editAdmin()">My Profile</label></a>
						<a class="dropdown-item" href="settings.html">Settings</a>
						<a class="dropdown-item" href="@Url.Action("Login","AdminAuthentication",new{area="Admin"})">Logout</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="sidebar" id="sidebar">
			<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 100%; height: 212px;">
				<div class="sidebar-inner slimscroll" style="overflow: hidden; width: 100%; height: 212px;">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title">
								<span>Main</span>
							</li>
							<li class="active">
								<a href="@Url.Action("Dashboard","AdminDashboard",new{area="Admin"})"><i class="fe fe-home"></i> <label>Dashboard</label></a>
							</li>
							<li>
								<a href="appointment-list.html"><i class="fe fe-layout"></i> <label>Appointments</label></a>
							</li>
							<li>
								<a href="@Url.Action("Index","Speciality",new{area="Admin"})"><i class="fe fe-users"></i> <label>Specialities</label></a>
							</li>
							<li>
								<a><i class="fe fe-user-plus"></i> <label onclick="getDoctors()">Doctors</label></a>
							</li>
							<li>
								<a><i class="fe fe-user"></i> <label onclick="getPatients()">Patients</label></a>
							</li>
							<li>
								<a href="@Url.Action("Index","Province",new{area="Admin"})"><i class="fe fe-building"></i> <label>Provinces</label></a>
							</li>
							<li>
								<a href="@Url.Action("Index","City",new{area="Admin"})"><i class="fe fe-home"></i> <label>Cities</label></a>
							</li>
							<li>
								<a href="@Url.Action("Index","Day",new{area="Admin"})"><i class="fe fe-sunrise"></i> <label>WeekDays</label></a>
							</li>
							<li>
								<a href="@Url.Action("Index","DoctorRequests",new{area="Admin"})"><i class="fe fe-document"></i> <label> Requests</label> <span class="menu-arrow"></span></a>
							</li>
							<li>
								<a><i class="fe fe-user-plus"></i> <label onclick="editAdmin()">Profile</label></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="MainContent" class="page-wrapper">
			@RenderBody()
		</div>

	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/Assets/AdminAssets/js/bootstrap.bundle.min.js" type="07d1bb5a4210a459a7d48a19-text/javascript"></script>
	<script src="/Assets/AdminAssets/js/form-validation.js" type="07d1bb5a4210a459a7d48a19-text/javascript"></script>
	<script src="/Assets/AdminAssets/js/script.js" type="07d1bb5a4210a459a7d48a19-text/javascript"></script>
	<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="07d1bb5a4210a459a7d48a19-|49" defer></script>
	@RenderSection("LoadFiles")
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		function getDoctors(){
			$.ajax({
				type:'Get',
				url:'/Admin/AdminDashboard/GetDoctors',
				success:function(result){
					$("#MainContent").html(result);
				}
			});
		}
		function getPatients(){
			$.ajax({
				type:'Get',
				url:'/Admin/AdminDashboard/GetPatients',
				success:function(result){
					$("#MainContent").html(result);
				}
			});
		}
		function showConfirmationDialog(entity,id) {
				Swal.fire({
					title: `Confirmation`,
					text: 'Are you sure?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Yes, proceed!',
					cancelButtonText: 'Cancel'
				}).then((result) => {
					if (result.isConfirmed) {
						   if(entity==='Doctor'){
							   deleteDoctor(id);
						   }
						   else if(entity==='Patient'){
							   deletePatient(id);
						   }
					}

				});
		}
			function deleteDoctor(id){
				$.ajax({
				type:'Get',
				url:'/Admin/AdminDashboard/DeleteDoctor',
				data:{Id:id},
				success:function(result){
					if(result==1){
						getDoctors();
					}
				}
				});
			}
			function deletePatient(id){
				$.ajax({
				type:'Get',
				url:'/Admin/AdminDashboard/DeletePatient',
				data:{Id:id},
				success:function(result){
					if(result==1){
						getPatients();
					}
				}
				});
			}
			function editAdmin(){
				$.ajax({
				type:'Get',
				url:'/Admin/AdminDashboard/EditAdmin',
				success:function(result){
					$("#MainContent").html(result);

				}
				});
			}
	</script>
</body>

<!-- Mirrored from doccure.dreamstechnologies.com/html/template/admin/form-validation.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2024 03:38:30 GMT -->
</html>