@model EasyAppointments.Services.DTOs.HomePageDTOs.ViewModelHome
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from doccure.dreamstechnologies.com/html/template/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2024 03:16:13 GMT -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="keywords" content="practo clone, doccure, doctor appointment, Practo clone html template, doctor booking template">
	<meta name="author" content="Practo Clone HTML Template - Doctor Booking Template">
	<meta property="og:url" content="../index.html">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Doctors Appointment HTML Website Templates | Doccure">
	<meta property="og:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta property="og:image" content="//Assets/UserAssets/User/Assets/UserAssets/img/preview-banner.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="../index.html">
	<meta property="twitter:url" content="../index.html">
	<meta name="twitter:title" content="Doctors Appointment HTML Website Templates | Doccure">
	<meta name="twitter:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="twitter:image" content="/Assets/UserAssets/img/preview-banner.jpg">
	<title>EasyAppointments</title>

	<link type="image/x-icon" href="/Assets/UserAssets/img/favicon.png" rel="icon">

	<link rel="stylesheet" href="/Assets/UserAssets/css/bootstrap.min.css">

	<link rel="stylesheet" href="/Assets/UserAssets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/Assets/UserAssets/plugins/fontawesome/css/all.min.css">

	<link rel="stylesheet" href="/Assets/UserAssets/css/feather.css">

	<link rel="stylesheet" href="/Assets/UserAssets/css/owl.carousel.min.css">

	<link rel="stylesheet" href="/Assets/UserAssets/plugins/select2/css/select2.min.css">

	<link rel="stylesheet" href="/Assets/UserAssets/css/aos.css">

	<link rel="stylesheet" href="/Assets/UserAssets/css/custom.css">
</head>
<body>

	<div class="main-wrapper home-three">

		<header class="header header-trans header-three header-eight">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a href="index-2.html" class="navbar-brand logo">
							<img src="/Assets/UserAssets/img/Easy Appointment Logo-01.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<ul class="main-nav">
							<li class="has-submenu megamenu active">
								<a href="@Url.Action(" Index","Home",new{area="Shared" })">HOME</a>
							</li>
							<li class="has-submenu">
								<a href="#">DOCTORS</a>
								<ul class="submenu">
									<li>Find Doctor By Specialities</li>
									<li><a href="doctor-dashboard.html">General Practitioner (GP)</a></li>
									<li><a href="appointments.html">Family Medicine Specialist</a></li>
									<li><a href="available-timings.html">Internal Medicine Specialist (Internist)</a></li>
									<li><a href="my-patients.html">Neurologist</a></li>
									<li><a href="patient-profile.html">Neurosurgeon</a></li>
									<li><a href="chat-doctor.html">Psychiatrist</a></li>
									<li><a href="invoices.html">Cardiologist</a></li>
									<li><a href="doctor-profile-settings.html">Cardiothoracic Surgeon</a></li>
									<li><a href="reviews.html">Vascular Surgeon</a></li>
									<li><a href="doctor-register.html">Pulmonologist (Chest Specialist)</a></li>

								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">HOSPITALS</a>
								<ul class="submenu">
									<li><a href="patient-dashboard.html">KP Hospitals</a></li>
									<li><a href="patient-dashboard.html">Punjab Hospitals</a></li>
									<li><a href="patient-dashboard.html">Balochistan Hospitals</a></li>
									<li><a href="patient-dashboard.html">Sindh Hospitals</a></li>
									<li><a href="patient-dashboard.html">Giligit Hospitals</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">BLOGs</a>
							</li>
						</ul>
					</div>
					<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
						<ul class="navbar-nav">
							<!-- Right-aligned dropdown -->
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<img src="/Assets/UserAssets/img/icons/user-circle.svg" />
									Login/SignUp
								</a>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="loginDropdown">
									<li><a class="dropdown-item" href="@Url.Action("Login", "DoctorAuthentication",new {area="Doctor"})">Doctor</a></li>
									<li><a class="dropdown-item" href="@Url.Action("Login", "PatientAuthentication",new{area="Patients"})">Patient</a></li>
									<li><a class="dropdown-item" href="@Url.Action("Login", "AdminAuthentication",new{area="Admin"})">Admin</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<section class="doctor-search-section">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7 aos" data-aos="fade-up">
						<div class="doctor-search">
							<div class="banner-header">
								<h2><span>Search Doctor,</span> Make an Appointment</h2>
								<p>Access to expert physicians and surgeons, advanced technologies and top-quality surgery facilities right here.</p>
							</div>
							<div class="doctor-form">
								<div class="input-box-twelve">
									<div class="input-block">
										<a href="@Url.Action("SearchDoctor","Appointment",new{area="Patients"})"><i class="fa-solid fa-magnifying-glass"></i>  Search Your Doc</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 aos" data-aos="fade-up">
						<img src="/Assets/UserAssets/img/banner/doctor-banner.png" class="img-fluid dr-img" alt="doctor-image">
					</div>
				</div>
			</div>
		</section>


		<section class="clinics-section">
			<div class="shapes">
				<img src="/Assets/UserAssets/img/shapes/shape-1.png" alt="shape-image" class="img-fluid shape-1">
				<img src="/Assets/UserAssets/img/shapes/shape-2.png" alt="shape-image" class="img-fluid shape-2">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 aos" data-aos="fade-up">
						<div class="section-heading">
							<h2>Clinic & Specialities</h2>
							<p>
								Access to expert physicians and surgeons, advanced technologies and top-quality surgery
								facilities right here.
							</p>
						</div>
					</div>
					<div class="col-md-6 text-end aos" data-aos="fade-up">
						<div class="owl-nav slide-nav-1 text-end nav-control"></div>
					</div>
				</div>
				<div class="owl-carousel clinics owl-theme aos" data-aos="fade-up">
					<div class="item">
						<div class="clinic-item">
							<div class="clinics-card">
								<div class="clinics-img">
									<img src="/Assets/UserAssets/img/clinic/clinic-1.jpg" alt="clinic-image" class="img-fluid">
								</div>
								<div class="clinics-info">
									<span class="clinic-img">
										<img src="/Assets/UserAssets/img/category/category-01.svg" alt="kidney-image" class="img-fluid">
									</span>
									<a href="#"><span>Urology</span></a>
								</div>
							</div>
							<div class="clinics-icon">
								<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="clinic-item">
							<div class="clinics-card">
								<div class="clinics-img">
									<img src="/Assets/UserAssets/img/clinic/clinic-2.jpg" alt="clinic-image" class="img-fluid">
								</div>
								<div class="clinics-info">
									<span class="clinic-img">
										<img src="/Assets/UserAssets/img/category/category-02.svg" alt="bone-image" class="img-fluid">
									</span>
									<a href="#"><span>Orthopedic</span></a>
								</div>
							</div>
							<div class="clinics-icon">
								<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="clinic-item">
							<div class="clinics-card">
								<div class="clinics-img">
									<img src="/Assets/UserAssets/img/clinic/clinic-4.jpg" alt="client-image" class="img-fluid">
								</div>
								<div class="clinics-info">
									<span class="clinic-img">
										<img src="/Assets/UserAssets/img/category/category-03.svg" alt="heart-image" class="img-fluid">
									</span>
									<a href="#"><span>Cardiologist</span></a>
								</div>
							</div>
							<div class="clinics-icon">
								<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="clinic-item">
							<div class="clinics-card">
								<div class="clinics-img">
									<img src="/Assets/UserAssets/img/clinic/clinic-3.jpg" alt="client-image" class="img-fluid">
								</div>
								<div class="clinics-info">
									<span class="clinic-img">
										<img src="/Assets/UserAssets/img/category/category-04.svg" alt="teeth-image" class="img-fluid">
									</span>
									<a href="#"><span>Dentist</span></a>
								</div>
							</div>
							<div class="clinics-icon">
								<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="clinic-item">
							<div class="clinics-card">
								<div class="clinics-img">
									<img src="/Assets/UserAssets/img/clinic/clinic-5.jpg" alt="client-image" class="img-fluid">
								</div>
								<div class="clinics-info">
									<span class="clinic-img">
										<img src="/Assets/UserAssets/img/category/category-05.svg" alt="brain-image" class="img-fluid">
									</span>
									<a href="#"><span>Neurology</span></a>
								</div>
							</div>
							<div class="clinics-icon">
								<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="clinic-item">
							<div class="clinics-card">
								<div class="clinics-img">
									<img src="/Assets/UserAssets/img/clinic/clinic-1.jpg" alt="clinic-image" class="img-fluid">
								</div>
								<div class="clinics-info">
									<span class="clinic-img">
										<img src="/Assets/UserAssets/img/category/category-06.svg" alt="heart-image" class="img-fluid">
									</span>
									<a href="#"><span>Cardiologist</span></a>
								</div>
							</div>
							<div class="clinics-icon">
								<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="specialities-section">
			<div class="shapes">
				<img src="/Assets/UserAssets/img/shapes/shape-3.png" alt="shape-image" class="img-fluid shape-3">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 aos" data-aos="fade-up">
						<div class="section-heading bg-area">
							<h2>Browse by Specialities</h2>
							<p>Find experienced doctors across all specialties</p>
						</div>
					</div>
				</div>
				<div class="row">
					@foreach (var item in Model.Specialities!)
					{
						<div class="col-xl-3 col-lg-4 col-md-6 aos" data-aos="fade-up">
							<div class="specialist-card d-flex">
								<div class="specialist-img">
									<img src="/Assets/UserAssets/img/Easy Appointment Logo-01.png" alt="kidney-image" class="img-fluid">
								</div>
								<div class="specialist-info">
									<a href="#">
										<h4>@item.Name</h4>
									</a>
									<p>100+ Doctors</p>
								</div>
								<div class="specialist-nav ms-auto">
									<a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</section>


		<section class="our-doctors-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 aos" data-aos="fade-up">
						<div class="section-heading">
							<h2>Book Our Best Doctor</h2>
							<p>Meet our experts & book online</p>
						</div>
					</div>
					<div class="col-md-6 text-end aos" data-aos="fade-up">
						<div class="owl-nav slide-nav-2 text-end nav-control"></div>
					</div>
				</div>
				<div class="owl-carousel our-doctors owl-theme aos" data-aos="fade-up">
					@if (Model.Doctors is not null && Model.Doctors!.Count > 0)
					{
						@foreach (var item in Model.Doctors!)
						{
							<div class="item">
								<div class="our-doctors-card">
									<div class="doctors-header">
										<a href="#"><img src="data:image/*;base64,@Convert.ToBase64String(item.Image)" alt="Ruby Perrin" class="img-fluid"></a>
										<div class="img-overlay">
											<span>$20 - $50</span>
										</div>
									</div>
									<div class="doctors-body">
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<span class="d-inline-block average-ratings">3.5</span>
										</div>
										<a href="doctor-profile.html">
											<h4>@item.FirstName @item.LastName</h4>
										</a>
										<p>@item.AcademicQualifications</p>
										<div class="location d-flex">
											<p><i class="fas fa-map-marker-alt"></i> Pakistan</p>
											<p class="ms-auto"><i class="fas fa-user-md"></i> 450 Consultations</p>
										</div>
										<div class="row row-sm">
											<div class="col-6">
												<a href="doctor-profile.html" class="btn view-btn" tabindex="0">View Profile</a>
											</div>
											<div class="col-6">
												<a href="booking.html" class="btn book-btn" tabindex="0">Book Now</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						}
					}
					else
					{
						<p>Any Doctor not Found.</p>
					}
				</div>
			</div>
		</section>


		<section class="clinic-features-section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 aos" data-aos="fade-up">
						<div class="section-heading">
							<h2>Availabe Features in Our Clinic</h2>
							<p>Meet our Experts & Book Online</p>
						</div>
					</div>
					<div class="col-md-6 text-end aos" data-aos="fade-up">
						<div class="owl-nav slide-nav-3 text-end nav-control"></div>
					</div>
				</div>
				<div class="owl-carousel clinic-feature owl-theme aos" data-aos="fade-up">
					<div class="item">
						<div class="clinic-features">
							<img src="/Assets/UserAssets/img/clinic/clinic-6.jpg" alt="clinic-image" class="img-fluid">
						</div>
						<div class="clinic-feature-overlay">
							<a href="#" class="img-overlay">Operation</a>
						</div>
					</div>
					<div class="item">
						<div class="clinic-features">
							<img src="/Assets/UserAssets/img/clinic/clinic-7.jpg" alt="clinic-image" class="img-fluid">
						</div>
						<div class="clinic-feature-overlay">
							<a href="#" class="img-overlay">Medical</a>
						</div>
					</div>
					<div class="item">
						<div class="clinic-features">
							<img src="/Assets/UserAssets/img/clinic/clinic-8.jpg" alt="clinic-image" class="img-fluid">
						</div>
						<div class="clinic-feature-overlay">
							<a href="#" class="img-overlay">Patient Ward</a>
						</div>
					</div>
					<div class="item">
						<div class="clinic-features">
							<img src="/Assets/UserAssets/img/clinic/clinic-9.jpg" alt="clinic-image" class="img-fluid">
						</div>
						<div class="clinic-feature-overlay">
							<a href="#" class="img-overlay">Test Room</a>
						</div>
					</div>
					<div class="item">
						<div class="clinic-features">
							<img src="/Assets/UserAssets/img/clinic/clinic-10.jpg" alt="clinic-image" class="img-fluid">
						</div>
						<div class="clinic-feature-overlay">
							<a href="#" class="img-overlay">ICU</a>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="our-blog-section blogs-three">
			<div class="container">
				<div class="row">
					<div class="col-md-6 aos" data-aos="fade-up">
						<div class="section-heading">
							<h2>Blogs and News</h2>
							<p>Read Professional Articles and Latest Articles</p>
						</div>
					</div>
					<div class="col-md-6 text-end aos" data-aos="fade-up">
						<div class="owl-nav slide-nav-4 text-end nav-control"></div>
					</div>
				</div>
				<div class="owl-carousel blogs owl-theme aos" data-aos="fade-up">
					<div class="item">
						<div class="our-blogs">
							<div class="blogs-img">
								<a href="blog-details.html"><img src="/Assets/UserAssets/img/blog/blog-26.jpg" alt="blog-image" class="img-fluid"></a>
								<div class="blogs-overlay d-flex">
									<img src="/Assets/UserAssets/img/clients/client-11.jpg" alt="Ruby Perrin" class="img-fluid">
									<span class="blogs-writter">Ruby Perrin</span>
								</div>
							</div>
							<div class="blogs-info">
								<span class="blog-slug">Urology</span>
								<h4><a href="blog-details.html">Revolutionizing Healthcare: The Rise of Online Doctor Booking</a></h4>
								<p>
									Explore how online doctor booking is revolutionize access to healthcare efficiency.
								</p>
								<div class="blogs-nav d-flex align-items-center justify-content-between">
									<span class="blogs-time"><i class="fa-regular fa-calendar-days"></i> 03 Apr 2024</span>
									<a href="blog-details.html" class="blogs-btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="our-blogs">
							<div class="blogs-img">
								<a href="blog-details.html"><img src="/Assets/UserAssets/img/blog/blog-27.jpg" alt="blog-image" class="img-fluid"></a>
								<div class="blogs-overlay d-flex">
									<img src="/Assets/UserAssets/img/clients/client-12.jpg" alt="Ruby Perrin" class="img-fluid">
									<span class="blogs-writter">Lynette Williams</span>
								</div>
							</div>
							<div class="blogs-info">
								<span class="blog-slug">Neurology</span>
								<h4><a href="blog-details.html">Neurology and Technology: A New Frontier in Brain Health</a></h4>
								<p>
									Discover the intersection of technology and neurology, transforming treatments.
								</p>
								<div class="blogs-nav d-flex align-items-center justify-content-between">
									<span class="blogs-time"><i class="fa-regular fa-calendar-days"></i> 10 Apr 2024</span>
									<a href="blog-details.html" class="blogs-btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="our-blogs">
							<div class="blogs-img">
								<a href="blog-details.html"><img src="/Assets/UserAssets/img/blog/blog-28.jpg" alt="blog-image" class="img-fluid"></a>
								<div class="blogs-overlay d-flex">
									<img src="/Assets/UserAssets/img/clients/client-03.jpg" alt="Ruby Perrin" class="img-fluid">
									<span class="blogs-writter">Mathew Rulz</span>
								</div>
							</div>
							<div class="blogs-info">
								<span class="blog-slug">Orthopedic</span>
								<h4><a href="blog-details.html">Beating Strong: The Digital Revolution in Cardiac Care</a></h4>
								<p>
									Discover how digital advancements are transforming cardiac care, making heart health.
								</p>
								<div class="blogs-nav d-flex align-items-center justify-content-between">
									<span class="blogs-time"><i class="fa-regular fa-calendar-days"></i> 15 Apr 2024</span>
									<a href="blog-details.html" class="blogs-btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="our-blogs">
							<div class="blogs-img">
								<a href="blog-details.html"><img src="/Assets/UserAssets/img/blog/blog-29.jpg" alt="blog-image" class="img-fluid"></a>
								<div class="blogs-overlay d-flex">
									<img src="/Assets/UserAssets/img/clients/client-09.jpg" alt="Sofia Brient" class="img-fluid">
									<span class="blogs-writter">Sofia Brient</span>
								</div>
							</div>
							<div class="blogs-info">
								<span class="blog-slug">Ophthalmology</span>
								<h4><a href="blog-details.html">Understanding and Preventing Glaucoma: A Detailed Guide</a></h4>
								<p>Glaucoma is a leading cause of blindness worldwide, yet many do not realize they have it</p>
								<div class="blogs-nav d-flex align-items-center justify-content-between">
									<span class="blogs-time"><i class="fa-regular fa-calendar-days"></i> 18 Apr 2024</span>
									<a href="blog-details.html" class="blogs-btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="our-blogs">
							<div class="blogs-img">
								<a href="blog-details.html"><img src="/Assets/UserAssets/img/blog/blog-30.jpg" alt="blog-image" class="img-fluid"></a>
								<div class="blogs-overlay d-flex">
									<img src="/Assets/UserAssets/img/clients/client-02.jpg" alt="Olga Barlow" class="img-fluid">
									<span class="blogs-writter">Olga Barlow</span>
								</div>
							</div>
							<div class="blogs-info">
								<span class="blog-slug">Dental Care</span>
								<h4><a href="blog-details.html">5 Essential Tips for Maintaining Optimal Oral Health</a></h4>
								<p>Learn the top five daily practices to keep your teeth and gums healthy. </p>
								<div class="blogs-nav d-flex align-items-center justify-content-between">
									<span class="blogs-time"><i class="fa-regular fa-calendar-days"></i> 18 Apr 2024</span>
									<a href="blog-details.html" class="blogs-btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="our-blogs">
							<div class="blogs-img">
								<a href="blog-details.html"><img src="/Assets/UserAssets/img/blog/blog-31.jpg" alt="blog-image" class="img-fluid"></a>
								<div class="blogs-overlay d-flex">
									<img src="/Assets/UserAssets/img/clients/client-04.jpg" alt="Linda Tobin" class="img-fluid">
									<span class="blogs-writter">Linda Tobin</span>
								</div>
							</div>
							<div class="blogs-info">
								<span class="blog-slug">Veterinary</span>
								<h4><a href="blog-details.html">Pet Emergencies: How to Recognize and React</a></h4>
								<p>This critical guide covers the most common emergencies seen in pets, including choking.</p>
								<div class="blogs-nav d-flex align-items-center justify-content-between">
									<span class="blogs-time"><i class="fa-regular fa-calendar-days"></i> 24 Apr 2024</span>
									<a href="blog-details.html" class="blogs-btn">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<footer class="footer footer-three">

			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<img src="/Assets/UserAssets/img/Easy Appointment Logo-01.png" alt="logo">
								</div>
								<div class="footer-about-content">
									<p>Effortlessly schedule your medical appointments with Doccure. Connect with healthcare professionals, manage appointments & prioritize your well being </p>
									<div class="social-icon">
										<ul>
											<li>
												<a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i></a>
											</li>
											<li>
												<a href="javascript:void(0);"><i class="fab fa-twitter"></i> </a>
											</li>
											<li>
												<a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
											</li>
											<li>
												<a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Patients</h2>
								<ul>
									<li>
										<a href="search.html">Search for Doctors</a>
									</li>
									<li>
										<a href="login.html">Login</a>
									</li>
									<li>
										<a href="register.html">Register</a>
									</li>
									<li>
										<a href="booking.html">Booking</a>
									</li>
									<li>
										<a href="patient-dashboard.html">Patient Dashboard</a>
									</li>
								</ul>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Doctors</h2>
								<ul>
									<li>
										<a href="appointments.html">Appointments</a>
									</li>
									<li>
										<a href="chat.html">Chat</a>
									</li>
									<li>
										<a href="login.html">Login</a>
									</li>
									<li>
										<a href="doctor-register.html">Register</a>
									</li>
									<li>
										<a href="doctor-dashboard.html">Doctor Dashboard</a>
									</li>
								</ul>
							</div>

						</div>
						<div class="col-lg-3 col-md-6">

							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address">
										<span><i class="fas fa-map-marker-alt"></i></span>
										<p>
											3556 Beech Street, San Francisco,
											<br>California, CA 94108
										</p>
									</div>
									<p><i class="fa-solid fa-mobile-screen-button"></i>+1 315 369 5943</p>
									<p class="mb-0">
										<i class="fas fa-envelope"></i>
										<a href="https://doccure.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9bfff4f8f8eee9fedbfee3faf6ebf7feb5f8f4f6">[email&#160;protected]</a>
									</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>


			<div class="footer-bottom">
				<div class="container-fluid">

					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0">Copyright © 2024 Doccure. All Rights Reserved</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">

								<div class="copyright-menu">
									<ul class="policy-menu">
										<li>
											<a href="terms-condition.html">Terms and Conditions</a>
										</li>
										<li>
											<a href="privacy-policy.html">Policy</a>
										</li>
									</ul>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

		</footer>


		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>

	</div>


	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;">
			</path>
		</svg>
	</div>


	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="/Assets/UserAssets/js/jquery-3.7.1.min.js" type="d860f583815928fac85a3a15-text/javascript"></script>

	<script src="/Assets/UserAssets/js/bootstrap.bundle.min.js" type="d860f583815928fac85a3a15-text/javascript"></script>

	<script src="/Assets/UserAssets/js/owl.carousel.min.js" type="d860f583815928fac85a3a15-text/javascript"></script>

	<script src="/Assets/UserAssets/js/slick.js" type="d860f583815928fac85a3a15-text/javascript"></script>

	<script src="/Assets/UserAssets/js/moment.min.js" type="d860f583815928fac85a3a15-text/javascript"></script>
	<script src="/Assets/UserAssets/js/bootstrap-datetimepicker.min.js" type="d860f583815928fac85a3a15-text/javascript"></script>

	<script src="/Assets/UserAssets/plugins/select2/js/select2.min.js" type="d860f583815928fac85a3a15-text/javascript"></script>

	<script src="/Assets/UserAssets/js/backToTop.js" type="d860f583815928fac85a3a15-text/javascript"></script>

	<script src="/Assets/UserAssets/js/aos.js" type="d860f583815928fac85a3a15-text/javascript"></script>

	<script src="/Assets/UserAssets/js/script.js" type="d860f583815928fac85a3a15-text/javascript"></script>
	<script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="d860f583815928fac85a3a15-|49" defer></script>
	<style>
		.header-nav .main-nav > li {
			margin-right: 25px; /* Adjust spacing between items */
		}

			.header-nav .main-nav > li > a {
				font-size: 22px !important;
				padding-top: 20px !important;
				padding-bottom: 20px !important;
				display: inline-block;
				color: #000;
				line-height: 1.5;
				vertical-align: middle;
			}

				.header-nav .main-nav > li > a:hover,
				.header-nav .main-nav > li.active > a {
					color: #007bff;
				}
	</style>

</body>

<!-- Mirrored from doccure.dreamstechnologies.com/html/template/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 Jul 2024 03:17:01 GMT -->
</html>