@model EasyAppointments.Services.DTOs.DoctorDTOs.DoctorDto


<h3 style="text-decoration:underline">Personal Information</h3><br />
<form id="FrmDoctor" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(a => a.Id)
    <div style="display:flex;">
        <div class="col-md-6" style="padding-right:5px">
            <label>FirstName</label>
            @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control", placeholder = "Enter Firstname" })
            @Html.ValidationMessageFor(a => a.FirstName, "", new { @style = "color:red" })
        </div>
        <div class="col-md-6">
            <label>LastName</label>
            @Html.TextBoxFor(a => a.LastName, new { @class = "form-control", placeholder = "Enter Lastname" })
            @Html.ValidationMessageFor(a => a.LastName, "", new { @style = "color:red" })
        </div>
    </div>
    <div style="display:flex">
        <div class="col-md-6" style="padding-right:5px">
            <label>Password</label>
            @Html.TextBoxFor(a => a.Password, new { @class = "form-control", placeholder = "Enter   Password" })
            @Html.ValidationMessageFor(a => a.Password, "", new { @style = "color:red" })
        </div>
        <div class="col-md-6">
            <label>Contact</label>
            @Html.TextBoxFor(a => a.Contact, new { @class = "form-control", placeholder = "Enter Contact No" })
            @Html.ValidationMessageFor(a => a.Contact, "", new { @style = "color:red" })
        </div>
    </div>
    <div style="display:flex">
        <div class="col-md-6" style="padding-right:5px">
            <label>Email</label>
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control", placeholder = "Enter Email Address" })
            @Html.ValidationMessageFor(a => a.Email, "", new { @style = "color:red" })
        </div>
        <div class="col-md-6">
            <label>CNIC</label>
            @Html.TextBoxFor(a => a.CNIC, new { @class = "form-control", placeholder = "Enter CNIC No" })
            @Html.ValidationMessageFor(a => a.CNIC, "", new { @style = "color:red" })
        </div>
    </div>
    <div class="col-md-12">
        <label>Upload Image</label>
        @Html.TextBoxFor(a => a.Image, new { @class = "form-control", type = "file", accept = "image/jpeg, image/png, image/gif", style = "border-radius:5px" })
        @Html.ValidationMessageFor(a => a.Image, "", new { @style = "color:red" })
    </div>
    <div class="text-end">
        <a class="forgot-link" href="login.html">Already have an account?</a>
    </div>
    
    <div style="display:flex">
        <button class="btn btn-primary w-50" type="button" onclick="showConfirmationDialog('Submittion',0)" style="margin-right:15px">Signup</button>
        <button class="btn btn-secondary w-50" type="reset">Cancel</button>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>


